html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}



/*SECTION 1*/
#section1 {
    background: url(Home%20Page%20Image.jpeg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
/*navigation bar*/
#navigation-bar {
    position: fixed;
    width: 100%;
}
/*navigation bar style*/
#navigation-container {
    background-color: white;
    height: 70px;
    opacity: .8;
    position: center;
}
/*menu option position*/
#navigation-container > ul > li {
    list-style-type: none;
    display: inline;
    padding: 0px 0px 0px 15px;
}
/*menu option style*/
#navigation-container > ul > li > a {
    text-decoration: none;
    color: #857f7f;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
/*menu position*/
#menuOptions{
    text-align: center;
    padding-top: 25px
}
/*hover over menu option*/
#navigation-container > ul > li > a:hover {
    color: #A7E9A4;
    padding-bottom: 22px;
    border-bottom: 3px solid;
}
/*logo position*/
#logo {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
}
/*logo style*/
#logo > a > img {
    width: 250px;
    height: 35px
}
/*header position*/
#header {
    text-align: center;
    padding-top: 125px;
}
/*hedaer style*/
#headerText {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}



/*SECTION 2*/
#section2 {
    background-color: white;
    height: 300px;
    text-align: center;
    font-size: 50px;
}