html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*navigation bar*/
#navigation-bar {
    position: fixed;
    width: 100%;
    z-index: 99999;
}
/*navigation bar style*/
#navigation-container {
    background-color: white;
    height: 70px;
    opacity: .8;
    position: center;
}
/*menu option position*/
#navigation-container > ul > li {
    list-style-type: none;
    display: inline;
    padding: 0px 0px 0px 15px;
}
/*menu option style*/
#navigation-container > ul > li > a {
    text-decoration: none;
    color: #857f7f;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
/*menu position*/
#menuOptions{
    text-align: center;
    padding-top: 25px
}
/*hover over menu option*/
#navigation-container > ul > li > a:hover {
    color: #1F5BFF;
    padding-bottom: 22px;
    border-bottom: 3px solid;
}
/*logo position*/
#logo {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
}
/*logo style*/
#logo > a > img {
    width: 250px;
    height: 35px;
}



#left {
    float: left;
    width: 50%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#right {
    float: right;
    width: 50%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}



.modheader {
    font-size: 50px;
}
#module1 > .content > p,
#module2 > .content > p {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

#module1,
#module2 {
    padding-top: 100px;
    display: inline-block;
}

#module1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Prospect%20SV%202.jpeg) fixed no-repeat center;
    background-size: cover;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.content {
    width: 70%;
    float: right;
    color: white;
}

.contentTitle {
    color: white;
    height: 100%;
    width: 30%;
}
.contentTitle {
    float: left;
}
.contentTitle > p {
    font-size: 50px;
    padding-left: 20px;
}

#module2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Transportation%20Innovation%20Zone.jpg) fixed no-repeat center;
    background-size: cover;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#content2 {
    width: 70%;
    float: left;
    color: white;
}